body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #191970;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #483D8B;
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    border-radius: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    background-color: #6A5ACD;
}
.title h1 {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.input {
    display: flex;
}
.input label {
    font-size: 1rem;
}
.input input {
    border-radius: 5px;
    padding: 2px;
}

.button-calculate {
    background-color: #6495ED;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 30px;
    width: 100px;
}


.result {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    height: 100px;
    width: 80%;
    margin-bottom: 12px;
    border-radius: 15px;
    font-size: 2rem;
    background-color: #836FFF;
}