body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: aliceblue;
    height: 650px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: aqua;
}
.title h1 {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}


.result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: green;
}