body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

main {
    display: flex;
}

.container {
    height: 700px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}

.title {
    background-color: #095849;
    width: 100%;
    margin-bottom: 15px;
}
h1 {
    color: white;
}